.raz {
    all: unset;
    -moz-appearance: textfield;
    width: 3em;
    text-align: center;
}

    .raz::-webkit-inner-spin-button {
        display: none;
    }
.button{
    border-radius:10px;
    border-color:transparent;
    color:white;
    width:100px;
    font-size:32px;
    font-weight:700;
}
.title-card {
    margin-block-start: 30px;
    margin-block-end: 50px;
    border-radius: 10px;
    background-image: url("/static/images/transit_card.png");
    padding: 30px;
}
.centerTable {
    margin: 0px auto;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: lightgray;
    color: black;
}

.nav-link{
    color: black;
    background: white;
}

.nav-link:focus, .nav-link:hover {
    color: black;
}
.nav-btn{
    color:white;
}